<div class="column left">
  <h2>Payment Information</h2>
  <div id="payment-info">
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <label>
        Name:
        <input type="text" formControlName="name" required size="30">
      </label>
      <label>
        Zip Code:
        <input type="text" formControlName="zipCode" required size="5">
      </label>
      <label>
        Credit Card:
        <input type="text" formControlName="ccNumber" required size="19">
      </label>
      <label>
        CC Secutiry Code:
        <input type="text" formControlName="ccSecCode" required size="3">
      </label>
      <button
        type="submit"
        class="button-primary"
        [disabled]="!paymentForm.valid"
      >
        Place Order
      </button>
    </form>
  </div>
</div>

<div class="column right">
  <h2>Order Summary</h2>
  <div id="order-summary">
    <p>TODO: line items, subtotal, tax, final total</p>
  </div>
</div>
