#payment-info{
  border: 1px solid #f4d3b2;
  padding: 20px;
}
input[type=text]{
  border: 1px solid #6a51b6;
  border-radius: 3px;
  cursor: pointer;
  display:inline-block;
  font-size: large;
  margin: 5px;
  padding: 5px 10px;
}
