<div class="column left">
  <h2>Payment Information</h2>
  <div id="payment-info">
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <label for="name">Name</label>
      <input id="name" type="text" formControlName="name" required size="30" />
      <!--  <div *ngIf="name.invalid && (name.dirty || name.touched)">
          <p *ngIf="name.errors.required"> Name is required.</p>
        </div> -->
      <label for="zipcode">Zip Code</label>
      <input
        id="zipcode"
        type="text"
        formControlName="zipcode"
        required
        size="5"
      />
      <!--<div *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)">
          <p *ngIf="zipcode.errors.required"> Zip Code invalid.</p>
          *<p *ngIf="zipcode.errors.pattern"> Zip Code invalid.</p>
        </div>-->
      <label for="ccNumber">Credit Card</label>
      <input
        id="ccNumber"
        type="text"
        formControlName="ccNumber"
        required
        size="19"
      />
      <label for="ccCode">CC Secutiry Code</label>
      <input
        id="ccCode"
        type="text"
        formControlName="ccCode"
        required
        size="3"
      />
      <button class="button-secondary">
        Cancel
      </button>
      <button
        type="submit"
        class="button-primary"
        [disabled]="!paymentForm.valid"
      >
        Place Order
      </button>
      <p
        *ngIf="!paymentForm.valid && (paymentForm.dirty || paymentForm.touched)"
      >
        All fields required.
      </p>
    </form>
  </div>
</div>

<div class="column right">
  <h2>Order Summary</h2>
  <div *ngIf="order; else orderError">
    <p *ngIf ="order.quantity == 0; else orderPending" style="background-color: inherit;"> You have no items in your cart.</p>
    <ng-template #orderPending>
      <table>
      <tr *ngFor="let item of order.items">
        <td>{{item.id}}. {{item.name}}</td>
        <td>x {{item.quantity}}</td>
        <td>{{item.subtotal|currency}}</td>
      </tr>
      <tr style="border-top: 1px solid #c67575">
        <td></td>
        <td>Subtotal</td>
        <td style="text-align: right;">{{order.subtotal | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td>Tax</td>
        <td style="text-align: right;">{{order.tax | currency}}</td>
      </tr>
      <tr>
        <td></td>
        <td><b>TOTAL</b> ({{order.quantity}} items)</td>
        <td style="text-align: right;"><b>{{order.total | currency}}</b></td>
      </tr>
    </table>
    </ng-template>

  </div>
  <ng-template #orderError>
    <p>Oops! Something went wrong!</p>
  </ng-template>
</div>
