.column {
  float: left;
  padding: 10px;
}

.column.left {
  width: 60%;
}

.column.right {
  width: 40%;
}

#order-summary {
  background: #f4d3b2;
}

h2 {
  color: #6a51b6;
}

@media screen and (max-width: 960px) {
  .column.left,
  .column.right {
    width: 100%;
  }
}
