table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
tr{
  border-bottom: 1px solid #c67575;
}
td{
  padding: 5px 10px;
}

.button-edit{
  background-color: inherit;
  color: blue;
  font-size: small;
}
.button-edit:hover, .button-remove:hover{
  color:black;
}
.button-remove{
  background-color: inherit;
  color: red;
  font-size: small;
}

input {
  border: none;
  border-radius: 5px;
  font-size: large;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

input:disabled{
  /*background-color: #f4d3b2;*/
  background-color: inherit;
  font-weight: bolder;
}
