<form (ngSubmit)="onSubmit(itemForm)" #itemForm="ngForm">
  <table>
    <!-- <tr *ngFor="let cartItem.item of order.items"> -->
    <tr>
      <td>
        <label>{{ cartItem.id }}.</label>
        {{ cartItem.name }}
      </td>
      <td>{{ cartItem.unitPrice | currency }}</td>
      <td>
        <input
          name="quantity"
          type="number"
          maxlength="1"
          min="1"
          max="24"
          disabled
          [ngModel]="cartItem.quantity"
        />
      </td>
      <td>{{ cartItem.subtotal | currency }}</td>
      <td>
        <!-- <button class="button-edit">Edit</button> -->
        <button class="button-edit" type="submit">
          {{ editMode ? "Update" : "Edit" }}
        </button>
        <button class="button-remove" (click)="onRemoveItem()">Remove</button>
      </td>
    </tr>

  </table>

</form>
<!-- ngModel="{{cartItem.quantity}} works the same as
    [ngModel]="cartItem.quantity"

    <input #qt required pattern="^[0-9]+[0-9]*$">
    <button disabled="!qty.valid" or qty.value.invalid or!qty.value.valid
-->
