
h2{
  color: #6a51b6;
}

em{
  color:#C67575;
  font-size:larger;
  font-weight: bold;
}
.button-clear{
 background-color: #f4d3b2;
 color: #c67575;
}

.button-clear:hover{
  background-color: #c67575;
  color: #f4d3b2;
}
