h2{
  color: #6a51b6;
}

/* .button-incr, .button-decr{
  display: inline-block;
  color: #fff4e9;
  padding: 5px;
  margin: 0;
  width: 30px;
  height: 30px;
}

.button-incr{
  background-color: #6a51b6;
}
.button-incr:hover{
  background-color: rgb(117,75,107);

}
.button-decr{
  background-color: #c67575;
}
.button-decr:hover{
  background-color: rgb(147,99,94);
} */

