table{
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}
tr{
  border-bottom: 1px solid #c67575;
}
td{
  width: min-content;
  padding: 5px 10px;
}
input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

