<div class="row">
  <form #menuItemForm="ngForm" (ngSubmit)="addToCart(menuItemForm, item)" >
    <table>
      <tr>
        <td><span style="color: #6a51b6; font-weight: bold;">{{ item.id }}.</span> {{item.name}}</td>
        <td>{{ item.price|currency }}</td>
        <td>
          <input
            name="qty"
            type="number"
            maxlength="1"
            min="0"
            max="24"
            required
            placeholder="0"
            ngModel
            #qty>
        </td>
        <td>
          <button
            name="addToCart"
            class="button-primary"
            style="float: right;"
            type="submit"
            [disabled]="qty.value == 0">
            Add to Cart
          </button>
        </td>
      </tr>
    </table>
  </form>
</div>


